torch
torchvision
torchmetrics
lightning
numpy
scipy
tqdm
wandb
universal_pathlib
hydra-core>=1.3.2
omegaconf
torch-fidelity
matplotlib
einops
plotly
pandas
s3fs[boto3]
requests
ml_collections
ninja
python-dotenv
torch_geometric
pyg_lib
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv
e3nn @ git+https://github.com/e3nn/e3nn.git@0.5.2
mdtraj
prescient-e3tools @ file:./prescient-e3tools
py3Dmol
rdkit
pot
ase
posebusters
