torch
torchvision
torchmetrics
lightning
torch_geometric
torch_scatter
torch_cluster
e3nn
numpy
scipy
tqdm
wandb
universal_pathlib
hydra-core>=1.3.2
omegaconf
matplotlib
einops
plotly
pandas
s3fs[boto3]
requests
ninja
python-dotenv
mdtraj
py3Dmol
rdkit
pot
ase
posebusters
